git -v
git status
git init
rm -r .git
git add
git commit -m""
git log
git checkout master // cambiar de rama//
git branch // para ver ramas
git merge dev // ir a la master i pasar lo de la rama "dev"


//GITHUB
git remote // para ver el destino y el origen cuando hago push o pull